@CHARSET "ISO-8859-1";
div#footer_static {
    position: absolute;
    max-width: inherit;
    bottom: 0Px
}

p.rf {
    text-align: left;
    position: relative;
}

div#Header_static {
    position: absolute;
}

img#logo {
    top: -16px;
    left: -29px;
    /* float: left; */
}